.button {
    border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	font-weight: bold;
	padding: 10px;

    &--large {
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        margin-top: 1rem;
    }
}