.hero {
    height: 300px;
    position: relative;
    background: url("src/assets/images/bank-tree.jpeg") 0 -50px/cover no-repeat;

    @media (min-width: 920px) {
        height: 400px;
        background-position: 0% 33%;
    }

    &__content {
        width: 200px;
        position: relative;
        top: 2rem;
        background: white;
        text-align: left;
        padding: 2rem;
        margin: 0 auto;

        @media (min-width: 920px) {
            width: 300px;
            position: absolute;
            top: 50px; right: 50px;
            margin: 2rem;
        }
    }

    &__title {  
        font-size: 1rem;
        font-weight: bold;
        margin: 0;

        @media (min-width: 920px) {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-size: 0.9rem;
        margin-bottom: 0;

        @media (min-width: 920px) {
            font-size: 1.2rem;
        }
    }
}

.features {
    display: flex;
    flex-direction: column;

    @media (min-width: 920px) {
        flex-direction: row;
    }
}