.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    &__link {
        display: flex;

        &--user {
            gap: 4px;
            font-weight: bold;
            color: #2c3e50;
            text-decoration: none;
            margin-right: 0.5rem;

            &:hover {
                text-decoration: underline;
            }
            &.active {
                color: #42b983;
            }
        }
    }

    &__logo {
        width: 200px;
    }
}

.footer {
	display: flex;
	justify-content: center;
	border-top: 2px solid #ccc;
	padding: 2rem 0 1.5rem;

    &__content {
        padding: 0;
        margin: 0;
    }
}