.field {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1rem;

	&__label {
		font-weight: bold;
	}

	&__input {
		padding: 5px;
		font-size: 1.2rem;
	}
}

.checkbox {
  	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	&__label {
		margin-left: 0.25rem;
	}
}