.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    &__logo {
        width: 200px; height: 54px;
    }

    &__user {
        display: flex;
    }
    &__link {
        display: flex;
        gap: 4px;
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        margin-right: 0.5rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
        &.active {
            color: #42b983;
        }
    }
}